@import url(https://fonts.googleapis.com/css?family=Sintony);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
	color: #363636;
	background-color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
}

header {
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

section {background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer {background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#stevelee {
	font-size: 2em;
	font-family: 'Sintony', sans-serif;
	font-weight: 500;
}


#nav li {
    display: inline;
    padding-right: 5em;
}

#nav a:link {
	color: #000;
	text-decoration: none;
}

#nav a:hover {
	color: #6C6C6C;
	text-decoration: none;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 46%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 46%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
