@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,700,600italic,700italic);

* {
padding: 0;
margin: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@font-face {
    font-family: proximaNova;
    font-weight: normal;
    src: url(../fonts/proximanova-regular-webfont.ttf);
}

@font-face {
    font-family: proximaNova;
    font-weight: 100;
    src: url(../fonts/proximanova-light-webfont.ttf);
}

@font-face {
    font-family: proximaNova;
    font-weight: 200;
    src: url(../fonts/proximanova-semibold-webfont.ttf);
}

@font-face {
    font-family: proximaNova;
    font-weight: 300;
    src: url(../fonts/proximanova-bold.ttf);
}

@font-face {
    font-family: proximaNova;
    font-weight: 500;
    src: url(../fonts/proximanova-extrabld-webfont.ttf);
}

@font-face {
    font-family: proximaNova;
    font-weight: 600;
    src: url(../fonts/proximanova-black-webfont.ttf);
}

body {
	color: #363636;
	background-color: #ffffff;
	font-family: proximaNova;
	font-weight: normal;
	font-size: 16px;
}

h1 {
	font-size: 2.5em;
	font-weight: 200;
}

h2 {
	font-size: 2em;
	font-weight: 200;
}

h3 {
	font-size: 1.5em;
	font-weight: 200;	
}

h4 {
		font-size: 1.25em;
	font-weight: 200;
}

.bold {
	font-weight: 200;
}

p {
	line-height: 22px;
	margin-bottom: 15px;
}

a {
	color: #787878;
	text-decoration: none;
}

a:hover {
	color: #363636;
}

#header-intro {
	font-size: 0.85em;
}

footer {
	height: 75px;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
}

#menu {
	text-align: right;
	font-size: 0.85em;
	width: 99.5%;
}

.wrapper {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.index-wrapper {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----margins---- */

.padding-bottom-40 {
	padding-bottom: 40px;
}

.margin-bottom-60 {
	margin-bottom: 60px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-right-10 {
	margin-right: 10px;
}
/* ----margins---- */

.text-align-left {
	text-align: left;
}

#rig {
    width: 500px;
    margin: 0 auto; /*center aligned*/
    padding: 0;
    font-size: 0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color: #ffffff;
}
#rig li {
    display: inline-block;
    width: 33.33%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
        
/* The wrapper for each item */
.rig-cell {
    margin: 1px;
    display: block;
    position: relative;
    overflow: hidden;
}
        
/* If have the image layer */
.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000000 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}