@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

* {
padding: 0;
margin: 0;
}

body {
	color: #363636;
	background-color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	margin: 0;
	text-align: left;
}

header {
	padding: 3em 6em 0 6em;
}

footer {
	background-color: #000;
	color: #ffffff;
	height: 2em;
	padding: 5em 6em 7em 6em;
}

h1 {
	font-size: 2em;
	font-family: 'Roboto', serif;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-family: 'Roboto', serif;
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {

	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topname {
	padding-bottom: 1em;
}

#nav {
	padding: 0 6em 3em 6em;
}

#nav a {
    display: block;
    float: left;
    padding: 0 5em 2em 0;
}

#nav a:link {
	color: #000;
	text-decoration: none;
	font-weight: 200;
}

#nav a:visited {
	color: #000;
	text-decoration: none;
	font-weight: 200;
}

#nav a:hover {
	color: #6C6C6C;
	text-decoration: none;
	font-weight: 200;
}

#firstsection {
	color: #fff;
	background-color: #000;
	padding: 2em 6em 2em 6em;
}

#secondsection {
	color: #000;
	background-color: #fff;
	padding: 2em 6em 2em 6em;
	text-align: center;
}

#secondsection {
	background-color: #fff;
}

#aboutmelink {
	font-weight: 400;
	padding: 2em 0 1em 0;
}

#aboutmelink a:link {
	color: #000;
	text-decoration: none;
	font-weight: 400;
}

#aboutmelink a:hover {
	color: #6C6C6C;
}

#me {
	font-size: 2.5em;
	font-weight: 200;
	padding-top: 1.25em;
}

.footernav a:link {
	color: #fff;
	font-weight: 200;
}

.footernav a:visited {
	color: #fff;
	font-weight: 200;
}

.footernav a:hover {
	color: #D1D1D1;
	font-weight: 200;
}

#floatleftname {
	float: left; 
	margin: 0; 
	width: 150px;
	padding: 1em 0 5em 0;
}

#floatleft {
	float: left; 
	margin: 0; 
	width: 70px;
}

/*#floatright {
	float: right; 
	margin: 0; 
	display: inline-block;
}
*/
#linkedin {
	display: inline-block;
	float: right; 
	margin: 0; 
	padding: 1.3em 0.20em 0 0;
	width: 25px;
}

#twitter {
	display: inline-block;
	float: right; 
	margin: 0; 
	padding: .8em 0.2em 0 0.4em;
	width: 40px;
}

#behance {
	display: inline-block;
	float: right; 
	margin: 0; 
	padding: 0.55em 0 0 0;
	width: 48px;
}