@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

* {
padding: 0;
margin: 0;
}

body {
	color: #363636;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	text-align: left;
}

header {
	background-color: #212121;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color: #f5f5f5;
}

footer {
	background-color: #212121;
	color: #fff;
	width: 100%;
	height: 100px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

ul {
    list-style-type: none;
}

#topname {
	float: left;
	padding: 14px 0 14px 60px;
	width: 300px;
}

#stevelee {
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 0.5px;
	padding-right: 14px;
}

#uxdesign {
	font-weight: 100;
	font-size: 1.5em;
}

#topmenu {
	margin-right: 40px;
}

.topnav {
	float: right;
	font-weight: 500;
	font-size: 0.8em;
	letter-spacing: 1px;
	padding: 20px 20px 20px 20px;
}

@media only screen and (min-width: 798px) 
{
	.topnav:hover {
		background-color: #00BCD4;
		color: #e0e0e0;
	}
	nav a:hover {
		color: #00BCD4;
	}

	#socialmedia a:hover {
		color: #00BCD4;
	}
}

#firstsection {
    text-align:center;
    width:100%;
    padding: 20px 0 20px 0;
}

.centerwrapper {
    margin: auto;
    width: 740px;
}

.card {
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
    float: left;
    height: 400px;
    margin:20px 0 20px 0;
    width: 740px;
    overflow: hidden;
}

.card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card h1 {
	padding-top: 5em;
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}

.card p {
	margin: 0.5em 12em 0 12em;
	color: #fff;
	font-weight: 100;
}


#jogging {	
	background: 
    linear-gradient(
    	rgba(0, 0, 0, 0.5),
    	rgba(0, 0, 0, 0.5)
    ),
    center center 
    url(../images/jogging.jpg);
}

#club {
	background: 
    linear-gradient(
    	rgba(0, 0, 0, 0.5),
    	rgba(0, 0, 0, 0.5)
    ),
    center center
    url(../images/club.jpg);
}

#safeway {
	background: 
    linear-gradient(
    	rgba(0, 0, 0, 0.5),
    	rgba(0, 0, 0, 0.5)
    ),
    center center 
    url(../images/safeway.jpg);
}

.projectname {
	color: #f5f5f5;
	font-weight: 400;
	font-size: 3em;
	padding: 21.5% 0 0 0;
}

#secondsection {
	background-color: #e0e0e0;
	color: #424242;
	height: 80px;
	padding: 30px;
	text-align: center;
}

#aboutmelink {
	background-color: #00BCD4;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	color: #fafafa;	
	font-size: 0.8em;
	font-weight: 400;
	height: 20px;
	left: 0;
	letter-spacing: 0.5px;
	line-height: 23px;
	margin: 30px auto 0 auto;
	padding: 5px 5px 6px 5px;
	position: absolute;
	right: 0;
	width: 70px;
}

#aboutmelink:hover {
	box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 9px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}	

#socialmedia {
	float: left;
	padding: 40px 0 0 50px;
	font-size: 20px;
	width: 200px;
}

#socialmedia span{
	padding: 0 10px 0 10px;
}

#contact {
	float:right;
	font-weight: 500;
	font-size: 0.8em;
	letter-spacing: 1px;
	padding: 43px 60px 0 0;
	width: 143px;
}

#resume {
	padding-right: 40px;
}

#credit {
	color: #fafafa;
	font-size: 0.8em;
	height: 15px;
	left: 0;
	margin: 45px auto 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	width: 216px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*-----------------------------------styles for about page-----------------------------------*/


#aboutfirst {
	padding: 40px 0 40px 0;
}

#pictureframe {
	margin: 0 auto;
	padding: 0;
	width: 350px;
	height: 350px;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
    overflow: hidden;
    background: 
    center center 
    url(../images/me.png);
    background-size: 150px;
}

#mypicture {
	width: 400px;
}

#aboutsecond {
	background-color: #e0e0e0;
	color: #424242;
	padding: 30px 250px 30px 250px;
	text-align: left;
	line-height: 25px;
}

#aboutsecond a {
		color: #00ACC1;
}

#hi {
	font-size: 1.5em;
	font-weight: 500;
	padding-bottom: 20px;
}

#bio {
	width: 530px;
	padding: 40px 0 0 60px;
	height: 300px;
	float: left;
}

/*-----------------------------------styles for about page-----------------------------------*/

@media only screen and (max-width: 797px) 

{	
	header {
		height: 80px;
		text-align:center;
    	width:100%;
	}

	footer {
		height: 130px;
		text-align:center;
    	width:100%;
	}

	#topname {
		float: none;
		margin: auto;
		height: 20px;
		width: 250px;
		padding: 10px 0 14px 0;

	}

	#topmenu {
		float: none;
		margin: 0 auto;
		height: 40px;
		width: 246px;
	}

	.topnav {
		padding: 10px 20px 10px 20px;
	}

	.centerwrapper {
	    width: 400px;
	}

	.card {
	    width: 400px;
	    height: 400px;
	}

	.card h1 {
		padding-top: 4.5em;
	}

	.card p {
		margin: 1em 4em 0 4em;
		display: block;
	}	

	#secondsection {
 		padding: 1.5em 1em 3em 1em;
 	}

	#aboutmelink {
		margin: 24px auto 0 auto;
	}

	#socialmedia {
		float: none;
		margin: 0 auto;
		padding: 34px 0 30px 0;
		height: 20px;
		width: 339px;
	}

	#socialmedia img {
		padding: 0 30px 0 30px;
	}

	#contact {
		float: none;
		display: inline;
		margin: 0 auto;
		padding: 0;
		height: 20px;
		width: 180px;
	}

	#resume {
		padding-right: 20px;
	}

	#email {
		padding-left: 20px;
	}


	#footername {
		display: none;
	}

	#credit {
		display: none;
	}

/*-------------------------ABOUT PAGE--------------------------*/

	#aboutsecond {
		padding: 35px 35px 35px 35px;
	}

/*-------------------------ABOUT PAGE--------------------------*/


}

 @media only screen and (max-width: 500px) 

 {
 	header {
 		box-shadow: 0;
 	}

	#firstsection {
	    padding: 0;
	    background: #212121;
	}

	.card {
	    margin: 0;
	    width: 100%;
		background: #fff;
		border-radius: 0;
	}

	.card h1 {
		padding-top: 4.5em;
	}

	.card p {
		font-size: 0.9em;
		font-weight: 300;
		margin: 1em 5em 0 5em;
	}

	.centerwrapper {
	    width: 100%;
	}

	#secondsection {
		height: 82px;
	}

	#aboutmelink {
		margin: 20px auto 0 auto;
		font-weight: 500;
	}

} 