@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,600,700,700italic);
* {
padding: 0;
margin: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
	color: #000000;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}

a {
	color: inherit;
    text-decoration: none;
}

h1 {
	font-size: 3em;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    font-weight: 300;
    }

h3 {
    font-size: 1.3em;
    font-weight: 600;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
}

.quote {
    font-size: 2em;
    font-style: italic;
}


p {
    line-height: 23px;
}

ul {
    padding: 20px 0 20px 0;
/*    list-style-type: none;
*/
}

li {
    padding-top: 10px;
}

header {
	background-color: #363636;
	color: #fff;
	height: 40px;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 950;
}

#notfixed {
    position: absolute;
} 

footer {
	background-color: #363636;
	color: #fff;
	padding: 40px 0 40px 0;
}

footer a:hover {
		color: #1FDA9A;
}

.wrapper {
    width: 900px;
	display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.currentpage {
	border-bottom: solid 4px #1FDA9A;
}

.btn {
  border: 1px solid #363636;
  box-shadow: 0 0 0 0 #363636 inset, 3px 3px 0 0 #1FDA9A;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 10px;
  transition: 0.2s box-shadow, 0.2s -webkit-transform;
}

.btn:hover {
  box-shadow: 0 0 0 0 inset;
}

.toptext {
    color: #363636;
    display: inline-block;
    font-size: 9pt;
    font-weight: 600;
    height: 7px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: solid 6px rgba(31,218,154,0.5);
}

/*----------------HEADER------------------*/

#stevelee {
	float: left;
	font-size: 14pt;
	font-weight: 600;
	letter-spacing: 2px;
	padding-top: 10px;
	height: 30px;
}

#menu {
	float: right;
	font-size: 9pt;
	font-weight: 400;
	letter-spacing: 0.4px;
	display: block;
}

.menulink {
	padding: 14px 5px 8px 5px;
	margin-left: 20px;
    display: inline-block;
}

.menulink:hover {
	border-bottom: solid 4px #1FDA9A;
}

#envelope {
    display: none;
}
/*----------------HEADER------------------*/
/*----------------BODY------------------*/
.greybg {
    padding: 40px 0 40px 0;
}

.whitebg {
    background-color: #ffffff;
    padding: 40px 0 40px 0;
}

.leftalign {
    text-align: left;
}

.padding-bottom-0 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}


.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.margin-60 {
    margin-top: 40px;
    margin-bottom: 60px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-120 {
    margin-top: 120px;
}


.padding-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p80 {
    padding-top: 80px;
}

.m40 {
    margin-top: 40px;
}

.m20 {
    margin-top: 20px;
}

.m10 {
    margin-top: 10px;
}

.bold {
    font-weight: 500;
}

hr {
    width: 100px;
    margin: 0 auto;
}

/*----------------BODY--------------------*/
/*----------------FOOTER------------------*/

#socialmedia {
    margin: 0 auto;
    letter-spacing: 12px;
    width: 180px;
    padding-left: 11px;
}

#credit {
    padding-top: 15px;
    font-size: 8pt;
}

/*----------------FOOTER------------------*/
/*-----------------------------------INDEX.HTML--------------------------------------*/

.card {
    float: left;
    width: 286.66px;
    height: 286.66px; 
}

.insidecard {
    width: 286.66px;
    height: 286.66px; 
    text-align: center;
}

.insidecard h3 {
    padding: 40px;
}

#first {	
	background: 
    center center 
    url(../images/webmd.svg) no-repeat;
    background-size: 100% auto;
    box-sizing: border-box;
}

#second {
	background: 
    center center
    url(../images/wip.svg) no-repeat;
    margin: 0 20px 0 20px;
    background-size: 100% auto;
    box-sizing: border-box;
}

#third {
	background: 
    center center 
    url(../images/wip.svg) no-repeat;
    background-size: 100% auto;
    box-sizing: border-box;
}

.indexbtn {
      margin-top: 40px; 
}

/*-----------------------------------INDEX.HTML--------------------------------------*/
/*-----------------------------------ABOUT.HTML--------------------------------------*/

#mypicture {
/*	display: inline-block;
*/    margin: 0 auto;
    width: 325px;
    height: 325px;
   	background: 
   	center center 
   	url(../images/me.jpg);
    border-radius: 100%;
   	background-size: 100%;
    border-radius: 100%;
}
/*-----------------------------------ABOUT.HTML--------------------------------------*/
/*-----------------------------------RESUME.HTML--------------------------------------*/

   #resumeoutline {
        background-color: #ffffff;        
        width: 900px;
        font-size: 0.9em;
        margin: 0 auto;
        padding: 40px;
        box-shadow: 0 0 0 0 #363636 inset, 3px 3px 0 0 #1FDA9A;
        border: 1px solid #000;
        -webkit-box-sizing: border-box;
    }

	#rheader {
		border-bottom: 2px solid rgba(0,0,0,0.1);
        display: inline-block;
        width: 100%;
        padding-bottom: 40px;
	}

	#rname {
		float: left;
		text-align: left;
	}

     #resumename {
        font-size: 26pt;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0.5px;
    }

    #resumeuxd {
        font-weight: 400;
    }

	#rcontact {
		float: right;
		text-align: left;
    }

    #rcontact p {
        line-height: 21px;
    }

      #rcontact a{
        text-decoration: underline;
    }

	#experience {
		width: 100%;
    	margin: 0 auto;
        padding: 40px 0 40px 0;
        border-bottom: 2px solid rgba(0,0,0,0.1);
    }

	.sidetitle {
		float: left;
        font-weight: 400;	
	}

	.expinfo {
		width: 75%;
		float: right;
		text-align: left;
    }

	.expdescription {
 		display: inline-block;
		text-align: left;
		padding-bottom: 40px;
        line-height: 20px;
        width: 100%;
	}

    .explast {
        display: inline-block;
        text-align: left;
        padding-bottom: 0;
        line-height: 20px;
        width: 100%;
    }

	#skills {
		width: 100%;
    	margin: 0 auto;
        border-bottom: 2px solid rgba(0,0,0,0.1);
        padding: 40px 0 40px 0;
	}

    .skillsinfo {
        font-weight: 400;
    }

	#education {
		width: 100%;
		margin: 0 auto;
        padding: 40px 0 40px 0;
        border-bottom: 2px solid rgba(0,0,0,0.1);
	}

	#cumlaude {
		width: 100%;
	}

	#achievements {
		width: 100%;
    	margin: 0 auto;
        padding-top: 40px;
	}

	.companyname {
		font-size: 14pt;
		font-weight: 600;
	}

	.positionname {
		font-weight: 400;
        padding-bottom: 10px;
	}

    .dateworked {
        font-weight: 300;
        font-size: 0.8em;
        font-style: italic;
        float: right;
        display: inline;
    }

    #downloadresume a {
        color: #1FDA9A;
        font-weight: 400;
    }

    #downloadresume a:hover {
        color: #2AFAB3;
        font-weight: 400;
    }

    #achievementslist {
        padding: 0;
    }

/*-----------------------------------RESUME.HTML--------------------------------------*/
/*-----------------------------------WORK PARGES---------------------------------------*/

.work-format h2 {
    margin-bottom: 20px;
}

.work-format h3 {
    margin-bottom: 20px;
}

.quote {
    display: inline-block;
    margin: 0 auto;
}

#work-first-section {
    background-color: #ffffff;
    padding: 100px 0 60px 0;
}

.text-align-left {
    text-align: left;
}

.lefthalf {
    text-align: left;
    width: 47.5%;
    display: inline-block;
    float: left;
}

.righthalf {
    text-align: left;
    width: 47.5%;
    display: inline-block;
    float: right;
}

.middle {
    width: 50%;
}

.screen3 {
    width: 280px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.screen4 {
    width: 210px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.margin-right-20px {
    margin-right: 20px;
}

.margin-right-30px {
    margin-right: 30px;
}

.three {
    width: 100%;
}

#finaldesign {
    background-image: url("../images/webmd/mockup.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 484px; 
    height: 500px;
}

.webmdhref {
    color: #2883CB;
    font-weight: 500;
}

.slideshow-li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

input:checked + label img{
  opacity: 1;
  pointer-events: auto;
}

.screen-float-left {
    float: left;
}
    
.slideshow3-div {
    width: 277px;
    height: 450px;
    display: inline-block;  
    float: left;
     margin-right: 33px;
}

.slideshow3 {
  position: relative;
  width: 280px;
  padding-top: 505px;
  list-style: none;
  text-align: center;
}

.slideshow3-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 280px;
  opacity: 0;
  pointer-events: none;
  cursor: e-resize;
  transition: opacity .3s ease-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.slideshow4-div {
    width: 210px;
    height: 374px;
    display: inline-block;  
    float: left;
}

.slideshow4 {
  position: relative;
  width: 214px;
  padding-top: 380px;
  list-style: none;
  text-align: center;
}

.slideshow4-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 210px;
  opacity: 0;
  pointer-events: none;
  cursor: e-resize;
  transition: opacity .3s ease-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.otherprojects {
    width: 600px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.otherprojects-div {
    background: 
    center center
    url(../images/wip.svg) no-repeat;
    background-size: 100% auto;
    box-sizing: border-box;
}

.otherprojects-margin {
    margin-right: 26.68px;
}

#backtotop {
    border-bottom: none;
    margin-bottom: 0;
}

#graph1 {
    width: 75%;
    padding-top: 50px;
}

.graph1-div {
    text-align: center;
    width: 40.5%;
    float: left;
    display: inline;
}

.graph2-div {
    text-align: center;
    width: 40.5%;
    float: right;
}

#graph1-info {
/*    background-color: #ffffff;
*/    text-align: left;
    margin-top: 40px;
}

#blue {
    height: 13px;
    width: 13px;
    background-color: #2783CB;
    display: inline-block;
    margin-left: 60px;
}

#blue-info {
    display: inline-block;
    margin-left: 20px;
}

#graph2-info {
/*    background-color: #ffffff;
*/    text-align: left;
    margin-top: 10px;
}

#green {
    height: 13px;
    width: 13px;
    background-color: #98CB4A;
    display: inline-block;
    margin-left: 60px;
}

#graph2 {
    width: 75%;
    padding-top: 40px;
}

/*-----------------------------------WORK PARGES---------------------------------------*/

@media only screen and (max-width: 920px) {

   .wrapper {
        width: 95%;
        }

    #stevelee {
        font-size: 12pt;
        padding-top: 11px;
    }
    
    .menulink {
        padding: 14px 3px 7.5px 3px;
        display: inline-block;
        margin-left: 10px;
    }    

    #maillink:hover {
        border-bottom: none;
    }

    /*----------INDEX.HTML-----------*/


    #envelope {
        display: inline;
        padding: 15px 0 15px 0;
        font-size: 9pt;
    }

    #contactlink {
        display: none;
    }

    #myface {
        width: 200px;
    }

    .card {
        float: none;
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }

    .insidecard {
        width: 350px;
        height: 350px;
    }  

    .insidecard h3 {
    font-size: 1.75em;
} 

    #second {
        margin: 40px 0 40px 0;
        display: inline-block;
    }


    /*----------INDEX.HTML-----------*/
    /*----------RESUME.HTML-----------*/
  
    #resumeoutline {
        width: 95%;
        padding: 40px 5% 40px 5%;
/*        border: 0;
        box-shadow: none;*/
     }

     .sidetitle {
        float: none;
        display: block;
        padding-bottom: 40px;
        font-weight: 600;
    }

    .expinfo {
        width: 100%;
        float: left;
    }

    #resumebg {
/*        background-color: #fff;
*/    }

    /*----------RESUME.HTML-----------*/

}

@media only screen and (max-width: 414px) {

     .card {
        width: 95vw;
        height: 95vw;
    }

    .insidecard {
        width: 95vw;
        height: 95vw;
    }   

    .insidecard h3 {
        padding-top: 13%;
@media only screen and (max-width: 320px) {

    #stevelee {
        float: left;
        font-size: 10pt;
        font-weight: 600;
        letter-spacing: 2px;
        padding-top: 13px;
        height: 30px;
}

    #menu {
        float: right;
        font-size: 9pt;
        font-weight: 400;
        letter-spacing: 0.4px;
        display: block;
}

    .menulink {
        padding: 14px 5px 8px 5px;
        margin-left: 2px;
        display: inline-block;
}
