@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	color: #363636;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-transform: lowercase;
}

h1 {
	font-size: 4em;
	font-family: 'Slabo 27px', serif;
	letter-spacing: 0.03em;
}

h2 {
	font-size: 1.5em;
	font-weight: 1em;
	font-family: 'Slabo 27px', serif;
	letter-spacing: 0.03em;
}

hr {
	width: 220px;
}

ul {
	border: 0px;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    
}

