/* @import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,700,600italic,700italic);
 */
* {
padding: 0;
margin: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@font-face {
    font-family: DinNext;
    font-weight: normal;
    src: url(../fonts/DINNextLTPro-Regular.otf);
}

@font-face {
    font-family: DinNext;
    font-weight: bold;
    src: url(../fonts/DINNextLTPro-Bold.otf);
}

@font-face {
    font-family: DinNext;
    font-weight: 200;
    src: url(../fonts/DINNextLTPro-Medium.otf);
}

@font-face {
    font-family: DinNext;
    font-weight: 100;
    src: url(../fonts/DINNextLTPro-Light.otf);
}


body {
	color: #5a5a5a;
	background-color: #f4f4f4;
	font-family: DinNext;
	font-weight: 100;
	font-size: 16px;
}

footer {
    height: 200px;
    background-color: #000000;
    text-align: center;
}


::selection {
  background: #1FDA9A;
  color: #ffffff;
}


li {
     margin-bottom: 10px;
}

ul {
    list-style-position: inside;
    list-style: disc outside none;
    padding: 10px 10px 10px 20px;
}


#copyright {
    padding-top: 30px;
    font-size: 0.8em;
}

#footer-menu {
    color: #ffffff;
    font-size: 0.8em;
    padding-top: 70px;
}

#footer-menu span{
   margin: 5px;
}

#footer-menu a {
   color: #ffffff;
}

#footer-menu a:hover {
    color: #616161;
}

.top-black {
    height:  30px;
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 10px;
}

.top-black-case-study {
    height:  30px;
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 10px;
}

.first-section {
    padding-top: 20px;
}

.index-headline {
    background-color: #ffffff;
    padding: 60px 0 60px 0;
}

.index-headline-text {
    width: 310px;
    display: inline-block;
    margin-left: 26%;
}

.index-headline-typing {
    display: inline-block;
    color: #1FDA9A;
}

.txt-rotate {
    margin-left: -4px;
}

.index-thumbnail-section {
    padding: 40px 0 20px 0;
}

#logo {
    float: left;
    margin-top: 3px;
}

#logo p {
    font-size: 1.2em;
}

#logo a {
    color: #ffffff!important;
}

#navigation {
    margin-top: 5px;
    float: right;
    font-size: 0.9em;
    z-index: 1000;
}

.current-page {
    border-bottom: 5.5px solid;
    border-color: #1FDA9A;
    padding-bottom: 4px;
}

#navigation span {
    margin-left: 15px;
}

#navigation a {
    color: #ffffff;
}

#navigation a:hover {
    color: #616161;
}

.navigation-container {
    display: inline-block;
}

.navigation-icons {
    display: none!important;
}


.text-align-right {
    text-align: right!important;
}

.text-align-center {
    text-align: center!important;
}


.wrapper {
    max-width:900px;
    margin: 0 auto;
    text-align: left;
}

.cs-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

h1 {
	font-size: 2.5em;
	font-weight: 200;
    color: #000000;
}

h2 {
	font-size: 2em;
	font-weight: 200;
    color: #000000;
}

h3 {
	font-size: 1.5em;
	font-weight: 200;
    color: #000000;
}

h4 {
	font-size: 1.25em;
	font-weight: 200;
    color: #000000;
}

.bold {
	font-weight: bold;
}

p {
	line-height: 22px;
	margin-bottom: 15px;
}

a {
	color: #1FDA9A;
	text-decoration: none;
}

a:hover {
	color: #363636;
}

#name {
    color: #ffffff;
    margin-top: 15px;
}

.card {
    width: 100%;
    background-color:  #ffffff;
    display: inline-block;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin-bottom: 8px;
}

.inside {
    margin: 0 auto;
    padding: 50px 40px 50px 40px;
}

#webmd-thumbnail {
    background-image: url("../images/webmd.svg");
}

#webmd-thumbnail:hover #webmd-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease;
}

#skew-thumbnail {
    background-image: url("../images/skew.svg");
}

#skew-thumbnail:hover #skew-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease;
}

#bigcommerce-thumbnail {
    background-image: url("../images/bigcommerce.svg");
}

#bigcommerce-thumbnail:hover #bigcommerce-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease;
}

#akpsi-thumbnail {
    background-image: url("../images/akpsi.svg");
}

#akpsi-thumbnail:hover #akpsi-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease;
}

#level2-thumbnail {
    background-image: url("../images/level2.svg");
}

#level2-thumbnail:hover #level2-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.4s ease;
}

#sproutlingt-thumbnail {
    background-image: url("../images/sproutlingt.svg");
}

#sproutlingt-thumbnail:hover #sproutlingt-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.4s ease;
}

#airmax-thumbnail {
    background-image: url("../images/airmax.svg");
}

#airmax-thumbnail:hover #airmax-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.4s ease;
}

#icon-thumbnail {
    background-image: url("../images/icon.svg");
}

#icon-thumbnail:hover #icon-hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.4s ease;
}

.thumbnail-text-overlay {
    background-color: rgba(255, 255, 255, 0.97);
    height: 100%;
    width: 100%;
    float: left;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.thumbnail {
    height: 293.5px;
    width:  293.5px;
    background-color:  #ffffff;
    display: inline-block;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin-bottom: 3px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50% 22%; 
    position: relative;
}

.thumbnail-middle {
    margin: 0 5.7px 3px 5.7px;
}

.thumbnail-label {
    position: absolute;
    bottom: 14px;
    margin-left: 5%;
    font-size: 0.8em;
    font-weight: bold;
}

.thumbnail-label-overlay {
    margin-left: 0!important;
    display: none;
    bottom: 20px!important;
}

.label-shape {
    padding: 3px 5.5px 1px 5px;
    border-radius: 3px;
    color: #ffffff;
    margin-right: 5px;
    display: inline;
}

.label-ux {    
    background-color: #1FDA9A;
}

.label-print {    
    background-color: #AE63E4;
}

.label-branding {    
    background-color: #0EBEFF;
}

.label-illustration {    
    background-color: #E35555;
}

.overlay-content {
    margin-left: 20px;
    padding-top: 20px;
}

.overlay-title {
    font-weight: 200;
}

.overlay-body {
    font-size: 0.8em;
    line-height: 16px;
    width: 95%;
    color: #5a5a5a;
}

.section-header {
    font-family: DinNext;
    font-weight: 200;
    margin-bottom: 40px;
    color: #000000;
}

.section-subheader {
    font-family: DinNext;
    font-weight: 100;
    font-size: 1.2em;
    margin: -10px 0 20px 0;
    color: #000000;
}

.section-header-grey {
    font-family: DinNext;
    font-size: 0.9em;
    font-weight: 100;
    border-bottom: 1px;
    margin-bottom: 20px;
    color: #979797;
}

#contact-me {
    width: 100%;
    text-align: center;
    padding: 70px 0 70px 0;
    background-color: #ffffff;
    display: inline-block;
}

.btn {
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0 0 0 0 #363636 inset, 3px 3px 0 0 #1FDA9A;
  color: #000000;
  display: inline-block;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 1px;
  padding: 10px;
  transition: 0.2s box-shadow, 0.2s -webkit-transform;
}

.btn:hover {
  box-shadow: 0 0 0 0 inset;
}


/* MARGINS */

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}


.m-b-40 {
    margin-bottom: 40px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-40 {
    margin-top: 40px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.w-100 {
    width: 100%;
}

/* ------------------------- ABOUT -------------------------- */

.specialties-columns {
    width: 30%;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
}

.specialty-two {
    margin: 0 4% 0 4%;
}

.specialties-columns img { 
    width: 50%;
    display: block;
    margin: 20px auto 40px auto;
}

.about-item {
    width: 48%;
    margin: 0 10px 40px 0;
    display: inline-block;
}

.about-item-number {
    font-weight: 200;
    color: #1FDA9A;
    margin-right: 5px;
}

.about-item-title {
    font-weight: 200;
    color: #000000;
    margin-left: 5px;
}

.about-item-content {
    margin:15px 0 0 25px;
}
/* ------------------------- ABOUT -------------------------- */



/* ------------------------- RESUME -------------------------- */

#resume-header {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #979797;
}

#resume-name {
    float: left;
    height: 40px;
    padding-top: 5px;
    }

#resume-contact {
    float: right;
    height: 40px;
    }

#resume-contact p {
    margin: 0!important;
    }

#resume-name-text {
    font-size: 1.88em;
    font-weight: 200;
    color: #000000;
    display: block;
}

#resume-name-sub {
    color: #979797;
    font-size: 0.9em;
 }

.resume-item {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
 }

.resume-column-left {
    width: 33%;
    float: left;
/*     background-color: #f0f0f0;
 */ }

.resume-column-right {
    width: 67%;
    height: 100%;
    float: right;
    font-size: 0.9em;
}

 .resume-column-right li{
    margin-bottom: 2px;
}


.resume-work {
    float: left;
}

.resume-work span {
    display: block;
    margin-bottom: 3px;
}

.resume-company {
    font-size: 1.2em;
    font-weight: 200;
    color: #000000;
}

.resume-title {
    font-size: 0.9em;
    color: #979797;
}

.resume-date {
    font-size: 0.9em;
}

.resume-description {
    line-height: 22px;
    display: inline-block;
}

/* ------------------------- RESUME -------------------------- */


/* ------------------------- OVERLAY POPUP-------------------------- */

.popup {
    height: 600px;
    width: 90%;
    margin: 0 auto;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0%;
    left: 5%;
    z-index:1000;
    display:none;
}

.popup-window {
    width: 90%;
    margin-bottom: 100px;
    background: #ffffff;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index:1000;
    border-radius: 7px;
}

.popup-title {
    padding: 0 30px 0 30px;
}

.popup-text {
    padding: 30px;
}

.popup-content {
    padding: 30px 0 100px 0;
}

.popup-image {
    text-align: center;
}

.popup-label {
    font-size: 0.9em;
    font-weight: bold;
    margin: 10px 0 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;

}

.popup-back-to-top {
    background-color: #f4f4f4;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 7px 7px;
    text-align: center;
}

.popup-back-to-top p {
    margin-top: 25px;
    color: #000000;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 500;
    width: 100%;
    height: 100%;
    display: none;
}

.close { 
    display:block;
    position:fixed;
    right: 10px;
    top: 25px   ;
    color: #ffffff;
    font-size: 70px;
}

#level2:target, #level2:target + #mask {
    display: block;
    opacity: 1;
}

#akpsi:target, #akpsi:target + #mask {
    display: block;
    opacity: 1;
}

/* ------------------------- OVERLAY POPUP-------------------------- */

/* ------------------------- CASE STUDY -------------------------- */

.cs-card {
    background-color:  #ffffff;
    display: inline-block;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: -140px 0 0px 0;
    padding: 40px;
}


.cs {
    margin: 0 0 60px 0;
    display: inline-block;
}

.cs-100 {    
    width: 100%;
}

.cs-50-left {
    width: 45%;
    float: left;
}

.cs-50-right {
    width: 45%;
    float: right;
}

.cs-50-middle {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.cs-33 {
    width: 33%;
    float: left;
}

#cs-back-home a {
    color: #ffffff;
}

#cs-back-home {
    padding-top: 2px;
}

#cs-back-home i {
    margin-right: 5px;
}

.width-100 {
    width: 100%;
}

.cs-img {
    width: 100%;
}

.cs-highlight {
    font-size: 1.5em;
    text-align: center;
    line-height: 20pt;
    font-style: italic;
    margin: 40px 0 40px 0;
}

.screen-four {
    width: 23%;
    margin: 5px;
}

.webmd-banner {
    height: 500px;
    background-color: #0684CE;
}

.survey-note {
    width: 300px;
    height: 20px;
    padding-top: 5px;
    margin: 0 auto ;
}

.survey-note-blue {
    width: 15px;
    height: 15px;
    background-color: #00ff00;
    float: left;
    display: block;
    margin: 3px 20px 0 0;
}


.survey-note-green {
    width: 15px;
    height: 15px;
    background-color: #00ffff;
    float: left;
    display: block;
    margin: 3px 20px 0 0;
}

.image-note {
    font-size: 0.75em;
    text-align: center;
    margin-top: -5px;
}

.iphone-background {
    background-image: url("../images/webmd/iphone.png");
    background-size: 100%;
    width: 324px;
    height: 575px;
    margin: 0 auto 40px auto;
    padding-top: 83px;
    padding-right: 1px;
    text-align: center;
}

.cs-three-screens {
    text-align: center;
    margin: 0 auto;
}

/* ------------------------- CASE STUDY -------------------------- */


/* ------------------------- LEVEL 2 -------------------------- */

.level2-logo-1 {
    width: 300px;
    margin: 10vw 0 10vw 0;
}

.background-black {
    background-color: #000;
}

#level2-card-bg {
    background-color: #efefef;
}

#level2-card-bg img {
    width: 700px;
    max-width: 100%;
    margin: 10vw 0 10vw 0;
}
/* ------------------------- LEVEL 2 -------------------------- */


@media only screen and (max-width: 900px) {
    
    .wrapper {
        width: 100%;
    }

     .sc-wrapper {
        width: 100%;
    }

    .card {
        border-radius: 0px;
    }

    .index-headline-text {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 310px;
    height: 25px;
    }

    .index-headline-typing {
        display: block;
        margin: 0 auto;
        width: 90%;
        max-width: 310px;
    }

    .txt-rotate {
        margin: 0 auto!important;
    }

    .index-thumbnail-section {
    padding: 0px 0 20px 0;
}

    .inside {
        padding: 40px 20px 40px 20px;
    }

    .cs-card {
        padding: 20px;
    }

    .thumbnail {
        background-size: 125%;
        background-position: 50% 0%; 
        margin: 0;
        display: block;
        width: 33.33vw;
        height: 33.33vw;
        box-shadow: none;
        float: left;
        border-radius: 0;
    }

    .thumbnail-middle {
        margin: 0;
        display: block;
    }

    .thumbnail-label {
        display: none;
    }

    .thumbnail-label-overlay {
        display: inline;
    }

    .popup {
        height: 600px;
        width: 100%;
        left: 0;
    }

    .popup-window {
        width: 100%;
        padding: 0;
        top: 0%;
        left: 0;
        border-radius: 0;
    }

    .popup-back-to-top {
        border-radius: 0;
}

    .close { 
        display:block;
        position:absolute;
        top: -20px;
        right: 5px;
        color: #000000;
        font-size: 70px;
        margin: 28px 10px 0 0;
    }

    #level2-card-bg img {
    width: 100%;
    }

    .level2-logo-1 {
        width: 200px;
    }

    #navigation {
    margin-right: 10px;
    }

    #logo {
        margin-left: 10px;
    }

    .cs-50-middle {
    width: 100%;
    }

    .about-item {
    width: 100%;
    }

    .specialties-columns {
    width: 100%;
    margin-bottom: 60px;
    }

    .specialty-two {
        margin: -20px 0 30px 0;
    }

    .specialties-columns img { 
        width: 100px;
        margin: 20px auto 20px auto;
    }

    .resume-column-left {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .resume-column-right {
        width: 100%;
        height: 100%;
        float: right;
        font-size: 0.9em;
    }

    .resume-work {
        width: 100%;
    }

/*     .resume-work span {
        display: inline;
        float: left;

    } */

    .resume-date {
        float: right!important;
        margin-top: -21px;
    }
    
 /*    .resume-title {
        margin-left: 5px;
        float: left;
    }

    .resume-company {
        float: left;
    } */
}

@media only screen and (max-width: 550px) {
    
     .thumbnail {
        width: 50vw;
        height: 50vw;
    }

    #logo {
        margin: 0 auto;
        float: none!important;
        display: none;
    }

    #navigation {
        font-size: 1.2em;
        margin: -7px auto 0 auto;
        float: none;
        width: 100%;
    }

    .navigation-icons {
    display: inline!important;
    padding: 0 45% 6px 45%;
    }

    .navigation-container {
        width: 23%;
        text-align: center;
        padding-top: 10px;
    }

    .top-black {
        height: 33px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10000;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
    }

    .current-page {
/*     border-top: 5.5px solid;
    border-color: #1FDA9A; */
    border-bottom: none;
    padding-top: 8px;
    color: #1FDA9A;;
}

/*     .index-headline-text {
        margin-top: 40px;
    }
 */
    .first-section {
        padding-top: 0;
    }

    .resume-icon-size {
        font-size: 0.85em!important;
    }

    .resume-icon-padding {
        padding-top: 9px!important;
    }


    .navigation-links {
        display: none!important;
    }


    .index-headline {
        font-size: 0.9em !important;
    }


    .popup-title {
    padding: 0 15px 0 15px;
    }

    .popup-text {
    padding: 30px 15px 30px 15px;
    }

        .cs-50-left {
    width: 100%;
    }

    .cs-50-right {
    width: 100%;
    }



}

