@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,600,700,700italic);

* {
padding: 0;
margin: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body {
	color: #363636;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-weight: 400;
	font-size: 17pt;
}

header {
	background-color: #363636;
	color: #fafafa;
	height: 42px;
}

footer {
	background-color: #363636;
	color: #fafafa;
	height: 30px;
	padding: 30px 0 50px 0;
}

footer a:hover {
		color: #1FDA9A;
}

.wrapper {
	width: 800px;
	display: inline-block;
    margin: 0 auto;
}

/*----------------HEADER------------------*/

#stevelee {
	float: left;
	font-size: 14pt;
	font-weight: 600;
	letter-spacing: 2px;
	padding-top: 10px;
	height: 28px;
}

#stevelee:hover {
	border-bottom: solid 4px #1FDA9A;
}

#menu {
	float: right;
	font-size: 9pt;
	font-weight: 400;
	letter-spacing: 0.4px;
	display: block;
}

.menulink {
	padding: 15px 10px 9px 10px;
    display: inline-block;
}

.menulink:hover {
	border-bottom: solid 4px #1FDA9A;
}

/*----------------HEADER------------------*/
/*----------------BODY------------------*/

#firstsection {
	padding: 40px 0 80px 0;
}

#intro {
	text-align: left;
	line-height: 35px;
}

.btn {
  border: 1px solid #363636;
  box-shadow: 0 0 0 0 #363636 inset, 3px 3px 0 0 #1FDA9A;
  display: inline-block;
  font-weight: 600;
  font-size: 9pt;
  letter-spacing: 1px;
  margin-top: 80px; 
  padding: 10px;
  transition: 0.2s box-shadow, 0.2s -webkit-transform;
}

.btn:hover {
  box-shadow: 0 0 0 0 inset;
}

/*----------------BODY------------------*/
/*-----------------WORK SECTION-------------*/

#secondsection {
	background-color: #ffffff;
	padding: 40px 0 50px 0;
}





















.margin {
	margin-bottom: 40px;
}

.toptext {
	display: inline-block;
	font-size: 9pt;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0 auto;
	padding-bottom: 1px;
	color: #363636;
	text-align: center;
	height: 7px;
	border-bottom: solid 6px rgba(31,218,154,0.5);
}

.card {
    float: left;
    height: 250px;
    width: 250px;
    transition: 0.2s box-shadow, 0.2s -webkit-transform;
    background-size: 100%;
}

#first {	
	background: 
    center center 
    url(../images/thumb.jpg);
}

#second {
	margin: 0 25px 0 25px;
	background: 
    center center
    url(../images/thumb.jpg);
}

#third {
	background: 
    center center 
    url(../images/thumb.jpg);
}

/*-----------WORK SECTION--------------*/


/*----------------FOOTER------------------*/

#socialmedia {
	margin: 0 auto;
	font-size: 13pt;
	letter-spacing: 12px;
	text-align: center;
	width: 180px;
	padding-left: 8px;
/*	background-color: #00ff00;
*/}

#credit {
	padding-top: 15px;
	font-size: 8pt;
}

/*----------------FOOTER------------------*/


/*-----------------ABOUT ME-------------------*/

#mypicture {
	margin: 0 auto;
	padding: 0;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	transition: all 0.2s ease-in-out;
  	overflow: hidden;
   	background: 
   	center center 
   	url(../images/me.jpg);
   	background-size: 300px;
}


@media only screen and (max-width: 1024px) {

	.wrapper {
		width: 600px;
		}
	h1 {
		font-size: 17pt;
		}

	 #intro2 {
    	font-size: 10pt;
    	}	

	.card {
    	height: 190px;
    	width: 190px;
	}

	#second {
	margin: 0 15px 0 15px;
	}

	#intro {
	text-align: left;
	line-height: 30px;
	padding: 0 0 20px 0;
}


}


@media only screen and (max-width: 736px) {

	.wrapper {
		width: 360px;
		}

	h1 {
		font-size: 11pt;
		}

	.card {
		float: none;
    	height: 360px;
    	width: 360px;
    	margin: 0 auto;
		}

	#second {
		margin: 30px 0px 30px 0;
		}

	#intro {
		line-height: 26px;
		}

	#intro2 {
		font-size: 9pt;		
	}

	#menu {
		font-size: 8pt;
	}

	.menulink {
		padding: 15px 5px 10px 5px;
		margin: 0 0 0 5px;
    	display: inline-block;
		}

	.margin {
		margin-bottom: 30px;
	}

	#firstsection {
		padding-top: 30px;
	}

	#secondsection {
		padding-top: 30px;
	}

	.btn {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 375px) {

	.wrapper {
		width: 350px;
		}

	#stevelee {
		font-size: 12pt;
	}
	
	.menulink {
		padding: 15px 5px 11px 5px;
		margin: 0 0 0 5px;
    	display: inline-block;
		}

		.card {
    	height: 350px;
    	width: 350px;
	}

	#intro {
		line-height: 22px;
		}
}

