body {
	color: #363636;
	background-color: #ffffff;
	font-family: "Droid sans", sans-serif;
	text-align: center;
}

h1 {
	font-size: 42pt;
	text-transform: uppercase;
}

hr {
	width: 200px;
}

h2 {
	font-size: 18pt;
	font-weight: 500;
}

ul {
	border: 0px;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    
}

